@using WordGame.Models.ViewModels;
@model MnemonicViewModel

<h2>Hafıza Çivisi Ekle</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="WordId" />

    <div>
        <label>Çağrışım / Not:</label>
        <textarea asp-for="MnemonicNote" class="form-control"></textarea>
    </div>

    <div class="mt-2">
        <label>Görsel (opsiyonel):</label>
        <input asp-for="MnemonicImage" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
</form>
