@{
    ViewData["Title"] = "Şifre Değiştirildi";
}

<div class="text-center mt-5">
    <h4>✅ Şifreniz başarıyla güncellendi!</h4>
    <a asp-action="Index" asp-controller="Home" class="btn btn-success mt-4">Ana Sayfa</a>
</div>
